<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img class="d-block w-100" src="..\assets\pic7.jpg">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-md-8">
            <hr>
            <h2 class="lead">About Sunrise Travel?</h2>
            <hr>
            <!-- Post Content -->
            <p class="lead"><strong>Sunrise Travel</strong> is a knowledge platform for the hotel, hospitality & travel
                industry.
                Professionals use our marketing, revenue management, technology and software insights, strategies
                and actionable tips to get inspired, optimise revenue, innovate processes and improve customer
                experience.
                <br>
                The strength of Sunrise Travel is that it consists of high quality and unique knowledge-base content.
                Every article provides explanatory and actionable solutions.
            </p>
        </div>

    </div>
</div>